.measurements-container {
  padding-left: 30px;
}

.measurements {

}

.btn {
  margin-left: 30px;
}

.measurements th, td {
  padding-right: 30px;
}

.pagination {

}

.pagination a,  {

  min-width: 50px;
}

.pagination > li a {
  font-size: smaller;
  text-align: center;
}
