.myrow {
    font-size: 0;
}
.myrow > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.myrow > *:last-child {
    vertical-align: bottom;
}
.myrow p:last-child {
    margin-bottom: 0; /* optional */
}

textarea 
{ 
	resize: vertical; 
}

.top15
{
	margin-top: 15px;
}

#map
{ 
	height: 350px;
	border: 1px solid #AAA;
}

#buttonContainerMap
{
	position: relative;
	margin-top: 2px;
}
#newCheckpoint
{
	position: absolute;
	right: 1px;
}

#ul
{
	padding-top: 10px;
}