/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 550PX;
}

#legend {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: #000;
    padding: 3px;
    margin: 3px;
}

.legendFont {
    font-size: 8pt;
}

.liveData {
    font-size: 8pt;
    white-space: nowrap
}